<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98641242-1"></script>
  <script>
  window.dataLayer = window.dataLayer || []
function gtag() {
    dataLayer.push(arguments)
}
gtag('js', new Date())

gtag('config', 'UA-98641242-1')
</script>
  <style>
    {% include main.css %}
  </style>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&amp;subset=latin-ext" rel="stylesheet">
  <title>{{ page.title | escape }}</title>
</head>
