<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width">
  <style>
    {% include main.css %}
  </style>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <link rel="shortcut icon" type="image/png" href="{{ " /favicon.png " | relative_url }}"/> {% feed_meta %}
  <link href="{{ "/assets/fonts.css" | relative_url }}" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&amp;subset=latin-ext" rel="stylesheet"> -->
  <title>{{ page.title | escape }}</title>
</head>
