---
layout: default
---
<h1>
  nijaru
</h1>
<h3>About</h3>
<p>I am a software developer from California interested in linux, networking, security, and distributed systems. I use Go, C, C++, Python, Ruby, and Javascript. I am currently learning Rust.</p>
<p>I primarily use Fedora, MacOS, and Windows. I also have experience with Ubuntu, Debian, CentOS, Rocky, Kali, Gentoo, CoreOS, Alpine, and EdgeOS.</p>
<p>Outside of code, I like audio engineering, music production, mixing & mastering, and camping.</p>
<h3>Contact</h3>
<ul>
  <li>Email me at
    <a href="mailto:nijaru0x@gmail.com">nijaru0x@gmail.com</a>
  </li>
  <li>Find me on:
    <a href="https://github.com/nijaru">GitHub</a> /
    <a href="https://twitter.com/nijaru0x">Twitter</a> /
    <a href="https://www.linkedin.com/in/nick-russo/">LinkedIn</a>
  </li>
</ul>
